@import "~bootswatch/dist/spacelab/bootstrap.min.css";

body, .app {
    background-color: var(--light);
}
.mono {

    font-family: var(--font-family-monospace);
}

.pointer {
    cursor: pointer;
}
